@font-face {
  font-family: "Tenso";
  src: url('../fonts/tensoreg.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tenso";
  src: url('../fonts/tensobold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab";
  src: url('../fonts/ZillaSlab-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab";
  src: url('../fonts/ZillaSlab-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab";
  src: url('../fonts/ZillaSlab-Italic.ttf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab";
  src: url('../fonts/ZillaSlab-Light.ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab";
  src: url('../fonts/ZillaSlab-LightItalic.ttf');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab";
  src: url('../fonts/ZillaSlab-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab";
  src: url('../fonts/ZillaSlab-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab";
  src: url('../fonts/ZillaSlab-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab";
  src: url('../fonts/ZillaSlab-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab";
  src: url('../fonts/ZillaSlab-SemiboldItalic.ttf');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
