$color-darkest: #1D2939;
$color-lightest: #F2F2F2;
$color-gray: #E6E6E6;
$color-highlight-yellow: #FAFF2E;
$color-highlight-red: #F65645;
$color-highlight-green: #1BEAAE;
$color-highlight-purple: #6B38E8;
$color-dimmed-purple: #D8CEDB;
$color-white: #fff;

$font-stack-headings: "Tenso", Helvetica, Arial, sans-serif;
$font-stack-body: "ZillaSlab", Georgia, "Times New Roman", serif;

$font-size-huge: 2.5rem;
$font-size-large: 1.875rem;
$font-size-medium: 1.225rem;
$font-size-default: 1rem;

$font-weight-light: 300;
$font-weight-default: 500;
$font-weight-bold: 600;

$spacing-large: 30px;
$spacing-medium: 25px;
$spacing-default: 15px;
$spacing-small: 10px;
$spacing-tiny: 5px;

$layout-tiny: 350px;
$layout-small: 675px;
$layout-medium: 1075px;
